.banner_simple {
    width: 300px;
    height: 600px;
    position: relative;
    overflow: hidden;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;

    & .clickTag {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-decoration: none;
        z-index: 10;
        cursor: pointer;

        & .clock {
            position: relative;
            z-index: 5;

            & .flip-clock-label {
                font-size: 0.8rem;
            }
        }
    }

}

